@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

.ff_plus {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.ff_barlow {
    font-family: 'Barlow Condensed', sans-serif;
}

.button_bg_linear {
    background: var(--Button-Linear, linear-gradient(248deg, #B80FB6 -51.42%, #553581 66.54%));
}

.boxshadow_white {
    background: #FFF;
    box-shadow: -4px 17px 39px 0px rgba(0, 0, 0, 0.12);
}

.bg_sec4bg {
    background-image: url(./images/png/bglines.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.icon_shadow {
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.06);
}

.bg_blur {
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(50px);
}

.bg_linear {
    background: rgba(17, 17, 17, 0.50);
    backdrop-filter: blur(11.5px);
}