@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

.ff_plus {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.ff_barlow {
    font-family: 'Barlow Condensed', sans-serif;
}

.button_bg_linear {
    background: var(--Button-Linear, linear-gradient(248deg, #B80FB6 -51.42%, #553581 66.54%));
}

.boxshadow_white {
    background: #FFF;
    box-shadow: -4px 17px 39px 0px rgba(0, 0, 0, 0.12);
}

.bg_sec4bg {
    background-image: url(./images/png/bglines.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    /* color: black; */
    width: 20px !important;
    height: 8px !important;
    border-radius: 41px !important;
    background: var(--Button-Linear, linear-gradient(248deg, #B80FB6 -51.42%, #553581 66.54%)) !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    opacity: 1;
    width: 12px !important;
    height: 8px !important;
    border-radius: 41px !important;
    background: linear-gradient(248deg, rgba(184, 15, 182, 0.50) -51.42%, rgba(85, 53, 129, 0.50) 66.54%) !important;
    left: 0;
    content: '' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 40px !important;
}

.rounded_bg {
    border-radius: 306px;
    opacity: 0.19 !important;
    filter: blur(25px);
    background: var(--Button-Linear, linear-gradient(248deg, #B80FB6 -51.42%, #553581 66.54%));
}

.icon_shadow {
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.06);
}

.bg_blur {
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(50px);
}

.bg_linear {
    background: rgba(17, 17, 17, 0.50);
    backdrop-filter: blur(11.5px);
}